head
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Dad's Garage
body

template(name='home')
  | Home sweet home.

template(name='school')
  | Time for school.

template(name='work')
  | Off to work.

template(name='nick')
  img(src='http://i.imgur.com/Xef4v47.jpg' height='500')

template(name='admin')
  button(data-name='home') home
  button(data-name='school') school
  button(data-name='work') work
  button(data-name='nick') nick
