template(name='admin_dating_profile')
  h1 Dating Profile
  .button.show Show Dating Profile
  
  br
  br
  | Enter Question:
  input(type='text', name='question')
  br
  input(type='submit', value='text')
  input(type='submit', value='image')
  input(type='submit', value='number')
  
  br
  div#questionsEntered
  br
    
  div#Button
    span.button.getData Get All Data
    span#getData
