template(name='admin_dating_profile')
  h1 Dating Profile
  .button.show Show Dating Profile
  #getYoungest
    .button.youngest Get Youngest
  #getOldest
    .button.oldest Get Oldest
  #getRandomOccupation
    .button.occupation Get Random Occupation
  #getRandomHomeCity
    .button.homeCity Get Random Home City
  #getRandomFavDrink
    .button.FavDrink Get Random Favourite Drink
  #getRandomFavFood
    .button.FavFood Get Random Favourite Food
  #getRandomFavMusic
    .button.FavMusic Get Random Favourite Music
  #getRandomFavTVShow
    .button.FavTVShow Get Random Favourite TV Show
