template(name='admin_dating_profile')
  h1 Dating Profile
  .button.show Show Dating Profile
  div
    span Oldest:
    span= oldest
  div
    span.button.oldest Get Oldest
    span#getOldest
  div
    span.button.occupation Get Random Occupation
    span#getRandomOccupation
  div
    span.button.homeCity Get Random Home City
    span#getRandomHomeCity
  div
    span.button.FavDrink Get Random Favourite Drink
    span#getRandomFavDrink
  div
    span.button.FavFood Get Random Favourite Food
    span#getRandomFavFood
  div
    span.button.FavMusic Get Random Favourite Music
    span#getRandomFavMusic
  div
    span.button.FavTVShow Get Random Favourite TV Show
    span#getRandomFavTVShow
