template(name='admin_dating_profile')
  h1 Dating Profile
  .button.show Show Dating Profile
  
  | Enter Question:
  input(type='text', name='question')
  br
  input(type='submit', value='text')
  input(type='submit', value='image')
  input(type='submit', value='number')
  
  div
    span Youngest:
    span= youngest
  div
    span Oldest:
    span= oldest
  div
    span.button.occupation Get Random Occupation
    span#getRandomOccupation
  div
    span.button.homeCity Get Random Home City
    span#getRandomHomeCity
  div
    span.button.favDrink Get Random Favorite Drink
    span#getRandomFavDrink
  div
    span.button.favFood Get Random Favorite Food
    span#getRandomFavFood
  div
    span.button.favMusic Get Random Favorite Music
    span#getRandomFavMusic
  div
    span.button.favMovieGenre Get Random Favorite Movie Genre
    span#getRandomFavMovieGenre
  div
    span.button.favTVShow Get Random Favorite TV Show
    span#getRandomFavTVShow
  div
    span.button.laugh Get Random Laughter Inducing Thing
    span#getRandomLaugh
  div
    span.button.motherlyAdvice Get Random Piece of Advice
    span#getRandomMotherlyAdvice
  div
    span.button.petPeeve Get Random Pet Peeve
    span#getRandomPetPeeve
  div
    span.button.attractive Get Random Attractive Attribute
    span#getRandomAttractive
  div
    span.button.embarrassedAudience Get Random Embarrassing Moment
    span#getRandomEmbarrassedAudience
  div
    span.button.colour Get Random Color (of Underwear)
    span#getRandomColour
  div
    span.button.favFirstDate Get Random Favorite First Date
    span#getRandomFavFirstDate
