template(name='admin_simple_vote')
  .admin-simple-vote-wrapper
    h1 Simple Vote
    //- span Number of options:
    //- span.options 2
    //- div
    //-   input.num-options(type='range' min='2' max='6' step='1' value='2')
    //- hr
    //- .button.start-vote Start Vote
    //- .button.stop-vote Stop Vote

    hr

    h3 Start vote:
    .start-vote-buttons
      each button
        .button.start-vote(data-num-options=numOptions)= numOptions

    hr
    .button.stop-vote Stop Vote
    .button.show-home Home
