template(name='user_dating_profile')
  #form
    h1 Audience Profile
    p
    div Please answer the following questions.
    br
    div No field is required.
    br
    br
    form
      div#insideForm
      input(type='submit', value='Submit')
