template(name='user_dating_profile')
  #form
    h1 Audience Profile
    p
    div Please answer the following questions.
    br
    div No field is required.
    br
    br
    form
      div First name:
      br
      input(type='text', name='f_name')
      br
      br
      div Last name:
      br
      input(type='text', name='l_name')
      br
      br
      div Age:
      br
      input(type='number', name='age')
      br
      br
      div What is your occupation?
      br
      input(type='text', name='occupation')
      br
      br
      div Where are you from?
      br
      input(type='text', name='home_city')
      br
      br
      div What is your favourite drink?
      br
      input(type='text', name='fave_drink')
      br
      br
      div What is your favourite food?
      br
      input(type='text', name='fave_food')
      br
      br
      div What is your favourite genre of music?
      br
      input(type='text', name='fave_music')
      br
      br
      div What is your favourite movie genre?
      br
      input(type='text', name='fave_movie_genre')
      br
      br
      div What is your favourite TV show?
      br
      input(type='text', name='fave_TV_show')
      br
      br
      div What makes you laugh?
      br
      input(type='text', name='laugh')
      br
      br
      div Once piece of advice my mother gave me was...
      br
      input(type='text', name='motherly_advice')
      br
      br
      div What is your biggest pet peeve?
      br
      input(type='text', name='pet_peeve')
      br
      br
      div What do you find attractive?
      br
      input(type='text', name='attractive')
      br
      br
      div What is once thing you'd be embarrassed if the entire audience knew?
      br
      input(type='text', name='embarrassed_audience')
      br
      br
      div What colour underwear are you wearing?
      br
      input(type='text', name='underwear_colour')
      br
      br
      div Describe your favourite first date.
      br
      input(type='text', name='first_date')
      br
      br
      input(type='submit', value='Submit')
