template(name='user_dating_profile')
  h1 Audience Profile
  p
  | Please answer the following questions.
  br
  | No field is required.
  br
  | Your answers may be used in the show!
  br
  br
  form
  | First name:
  br
  input(type='text', name='f_name')
  br
  br
  | Last name:
  br
  input(type='text', name='l_name')
  br
  br
  | Age:
  br
  input(type='number', name='age')
  br
  br
  | What is your occupation?
  br
  input(type='text', name='occupation')
  br
  br
  | Where are you from?
  br
  input(type='text', name='home_city')
  br
  br
  | What is your favourite drink?
  br
  input(type='text', name='fave_drink')
  br
  br
  | What is your favourite food?
  br
  input(type='text', name='fave_food')
  br
  br
  | What is your favourite genre of music?
  br
  input(type='text', name='fave_music')
  br
  br
  | What is your favourite TV show?
  br
  input(type='text', name='fave_TV_show')
  br
  br
  input(type='submit', value='Submit')
