template(name='user_dating_profile')
  h1 Audience Profile
  p
  div Please answer the following questions.
  br
  div No field is required.
  br
  div Your answers may be used in the show!
  br
  br
  form
    div First name:
    br
    input(type='text', name='f_name')
    br
    br
    div Last name:
    br
    input(type='text', name='l_name')
    br
    br
    div Age:
    br
    input(type='number', name='age')
    br
    br
    div What is your occupation?
    br
    input(type='text', name='occupation')
    br
    br
    div Where are you from?
    br
    input(type='text', name='home_city')
    br
    br
    div What is your favourite drink?
    br
    input(type='text', name='fave_drink')
    br
    br
    div What is your favourite food?
    br
    input(type='text', name='fave_food')
    br
    br
    div What is your favourite genre of music?
    br
    input(type='text', name='fave_music')
    br
    br
    div What is your favourite TV show?
    br
    input(type='text', name='fave_TV_show')
    br
    br
    input(type='submit', value='Submit')
