template(name='user_music_torture')
  .user-music-torture
    .instructions Hold down the button when you want to make the performers sing. If enough people do it, the music will start!
    .torture-text
      span.off Let 'em talk.
      span.on Make 'em sing!
    .button#torture-button
      i.fa.fa-music
