template(name='user_music_grid')
  .user-music-grid-wrapper
    h3 Tap on the grid to choose what musical mood you want.
    .user-music-grid
      .grid-label#happy
        span Happy
      .grid-label#sad
        span Sad
      .grid-label#calm
        span Calm
      .grid-label#intense
        span Intense
      #point
