template(name='stage_music_torture')
  .stage-music-torture
    .outer-ring-wrapper
      .outer-ring
    .circle-meter-wrapper
      .circle-meter
        .inner-ring
  .icon-wrapper
    i.fa.fa-music
  .count= update
