@import url(https://fonts.googleapis.com/css?family=Lato:400);
@import '/dads-garage.less';

img.fa-music {
  max-width: 25vh;
}

.bee-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity 1s linear;
  opacity: 0;
  // display: none;
}

.bee-wrapper {
  position: fixed;
  width: 100vh;
  animation: rotating 2s linear infinite;
}

.active {
  .bee-overlay {
    opacity: 1;
    // display: block;
  }
}

img.bee {
  max-width: 25vh;
}

@keyframes rotating {
  from {
    transform: rotate(0deg) translate(-50vw, 0);
  }
  to {
    transform: rotate(360deg) translate(50vw, 0);
  }
}

.bees#torture-button {
  background-image: url('https://s3.amazonaws.com/dads-garage-music/pictures/Bee-PNG-8.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
