@import url(https://fonts.googleapis.com/css?family=Lato:400);
@import '/dads-garage.less';

.music-grid-builder-wrapper {
  display: flex;

  .music-grid-builder-panel {
    display: flex;
    flex-direction: column;
    width: 300px;
  }

  .grid-controls-wrapper {
    display: flex;
    flex-direction: column;
  }

  .song-canvas-controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
  }

  .music-grid-builder {

  }

  .song-list {
    height: 400px;
    overflow-y: scroll;
    border: 1px solid lighten(black, 10%);
  }

  .filters {
    height: 100px;
  }

  .song {
    border-bottom: 1px solid lighten(black, 20%);
    padding: 5px;

    &.selected {
      background-color: @green;
      color: white;
    }
  }

  // div {
  //   border: 1px solid black;
  // }
}

.user-music-grid-wrapper {
  font-family: 'Lato';
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}

.music-grid-monitor-wrapper {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 15px;
  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.user-music-grid {
  user-select: none;
  width: 90vw;
  height: 90vw;
  border: 1px solid white;
  position: relative;

  &.monitor {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    .point {
      width: 15px;
      height: 15px;
      background-color: @green;
      &#average {
        background-color: @red;
      }
    }
  }
  .grid-label {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    span {
      padding: 20px;
    }
  }
  #happy {
    align-items: center;
    justify-content: flex-end;
  }
  #sad {
    align-items: center;
    justify-content: flex-start;
  }
  #intense {
    align-items: flex-start;
    justify-content: center;
  }
  #calm {
    align-items: flex-end;
    justify-content: center;
  }
  #point, .point {
    position: absolute;
    background-color: @red;
    border-radius: 100%;
    top: 49%;
    left: 49%;
    width: 3vw;
    height: 3vw;
    transition: .2s all;
  }
}

.stage-music-grid-wrapper {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Lato';
  font-size: 5vh;
}

.stage-music-grid {
  user-select: none;
  width: 90vh;
  height: 90vh;
  border: 1px solid white;
  position: relative;

  .point {
    width: 1vh;
    height: 1vh;
    box-shadow: 0px 0px 10px @yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    img {
      max-width: 100%;
      // max-height: 100%;
    }
    &#average {
      background-color: @yellow;
    }
  }

  .grid-label {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    span {
      padding: 20px;
    }
  }
  #happy {
    align-items: center;
    justify-content: flex-end;
  }
  #sad {
    align-items: center;
    justify-content: flex-start;
  }
  #intense {
    align-items: flex-start;
    justify-content: center;
  }
  #calm {
    align-items: flex-end;
    justify-content: center;
  }
  .point {
    position: absolute;
    border-radius: 100%;
    top: 49%;
    left: 49%;
    width: 8vh;
    height: 8vh;
    transition: .2s all;
  }
}

